<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/css/countdown")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="top">
        <p>@ViewBag.Title</p>
        <div class="logo">
            <svg xmlns:dc="http://purl.org/dc/elements/1.1/"
                 xmlns:cc="http://creativecommons.org/ns#"
                 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                 xmlns:svg="http://www.w3.org/2000/svg"
                 xmlns="http://www.w3.org/2000/svg"
                 width="149"
                 height="60"
                 id="svg2"
                 version="1.1"
                 >
                <defs id="defs4" />
                <sodipodi:namedview id="base"
                                    pagecolor="#ffffff"
                                    bordercolor="#666666"
                                    borderopacity="1.0"
                                    />
                <g inkscape:label="Layer 1"
                   inkscape:groupmode="layer"
                   id="layer1"
                   transform="translate(0,-992.36218)">
                    <g id="g3804"
                       transform="translate(0,16.38169)">
                        <path id="text2985"
                              transform="translate(0,975.36218)"
                              d="m 5.9375,0.3125 c -1.53452,2.41436 -2.78312,4.82439 -3.71875,7.25 -1.36176,3.55554 -2.0625,7.27453 -2.0625,11.15625 0,4.40365 0.92843,8.67115 2.75,12.78125 1.82156,4.11 4.05241,7.6837 6.6875,10.75 L 13,42.25 C 7.71215,34.4213 5.06249,26.59504 5.0625,18.75 5.06249,15.66746 5.45828,12.61245 6.21875,9.5625 6.83772,7.11606 7.6712,4.75076 8.75,2.5 9.02005,1.93165 9.44512,1.17841 9.9375,0.3125 l -4,0 z m 91,0 c 0.50786,0.89559 0.91268,1.69639 1.1875,2.28125 1.07878,2.25076 1.92995,4.58481 2.53125,7.03125 0.76045,3.01732 1.12499,6.05878 1.125,9.125 -1e-5,7.84504 -2.61842,15.6713 -7.90625,23.5 l 3.40625,0 c 2.61738,-3.0663 4.85708,-6.64 6.6875,-10.75 1.83039,-4.1101 2.74998,-8.3776 2.75,-12.78125 -2e-5,-3.88172 -0.70076,-7.60071 -2.0625,-11.15625 -0.93564,-2.42561 -2.18423,-4.83564 -3.71875,-7.25 l -4,0 z m 13.3125,0 9.75,32 3.8125,0 -9.71875,-32 -3.84375,0 z M 30.03125,5.15625 c -3.48397,2e-5 -6.4209,0.95047 -8.84375,2.875 -2.90036,2.31601 -4.34375,5.87614 -4.34375,10.6875 0,4.38734 1.1933,7.76145 3.625,10.09375 2.43169,2.3323 5.61872,3.5 9.5625,3.5 2.45821,0 4.73448,-0.5649 6.8125,-1.625 2.07797,-1.0601 3.66234,-2.5211 4.75,-4.4375 1.0876,-1.91644 1.62497,-4.5315 1.625,-7.875 -3e-5,-4.12635 -1.2293,-7.37829 -3.6875,-9.71875 -2.45825,-2.34044 -5.62699,-3.49998 -9.5,-3.5 z m 30.25,0 c -3.48397,2e-5 -6.45215,0.95047 -8.875,2.875 -2.90036,2.31601 -4.34375,5.87614 -4.34375,10.6875 0,4.38734 1.22455,7.76145 3.65625,10.09375 2.43169,2.3323 5.61872,3.5 9.5625,3.5 2.45821,0 4.73448,-0.5649 6.8125,-1.625 2.07797,-1.0601 3.66234,-2.5211 4.75,-4.4375 1.0876,-1.91644 1.62497,-4.5315 1.625,-7.875 -3e-5,-4.12635 -1.2293,-7.37829 -3.6875,-9.71875 -2.45825,-2.34044 -5.62699,-3.49998 -9.5,-3.5 z m -30.25,3.625 c 2.3521,2e-5 4.32342,0.84458 5.90625,2.5 1.58279,1.65546 2.37498,4.09949 2.375,7.3125 -2e-5,3.40875 -0.7698,5.93011 -2.34375,7.59375 -1.57399,1.6636 -3.56772,2.5 -5.9375,2.5 -2.3875,0 -4.36354,-0.8446 -5.9375,-2.5 -1.57398,-1.65547 -2.34376,-4.14155 -2.34375,-7.46875 -10e-6,-3.32718 0.76977,-5.82144 2.34375,-7.46875 1.57396,-1.64727 3.55,-2.46873 5.9375,-2.46875 z m 30.25,0 c 2.3521,2e-5 4.32342,0.84458 5.90625,2.5 1.58279,1.65546 2.37498,4.09949 2.375,7.3125 -2e-5,3.40875 -0.80105,5.93011 -2.375,7.59375 -1.57399,1.6636 -3.53647,2.5 -5.90625,2.5 -2.3875,0 -4.36354,-0.8446 -5.9375,-2.5 -1.57398,-1.65547 -2.37501,-4.14155 -2.375,-7.46875 -1e-5,-3.32718 0.80102,-5.82144 2.375,-7.46875 1.57396,-1.64727 3.55,-2.46873 5.9375,-2.46875 z m 62.6875,29.71875 0,3.1875 25.875,0 0,-3.1875 -25.875,0 z"
                              style="font-size:52.17333603px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
                              inkscape:connector-curvature="0" />
                        <path inkscape:connector-curvature="0"
                              id="text2985-1"
                              d="m 8.794643,1017.4425 c -3.3248002,4.0937 -5.7833502,8.1861 -7.3750002,12.3125 -0.80932,2.1131 -1.35918,4.303 -1.6875,6.5313 l 4.84375,0 c 0.19008,-1.5127 0.46854,-3.0265 0.84375,-4.5313 0.61897,-2.4465 1.45245,-4.8118 2.53125,-7.0625 0.6897102,-1.4516 2.1100902,-3.8576 4.2500002,-7.25 l -3.40625,0 z m 69.21875,0 c 2.15757,3.425 3.56027,5.876 4.25,7.3438 1.07878,2.2508 1.92995,4.5847 2.53125,7.0312 0.37258,1.4783 0.65371,2.9787 0.84375,4.4688 l 4.84375,0 c -0.32832,-2.2283 -0.87819,-4.4182 -1.6875,-6.5313 -1.59167,-4.1264 -4.05021,-8.2188 -7.375,-12.3125 l -3.40625,0 z"
                              style="font-size:52.17333603px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans" />
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="foot">
        <p>&copy; @DateTime.Now.Year - <a href="http://github.com/batkot" target="_blank">Tomasz Batko</a></p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
